# This is a basic workflow that is manually triggered

name: Auto-navigation workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  page_build:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  build-navigation:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions: write-all
    defaults:
      run:
        working-directory: kazukimiyao.github.io
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: Build Navigation
      run: tree
